<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="isobar_save_delivery_date_in_quote" type="Isobar\DeliveryDate\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>

    <preference for="Isobar\DeliveryDate\Api\ItemRepositoryInterface"
                type="Isobar\DeliveryDate\Model\ItemRepository" />
    <preference for="Isobar\DeliveryDate\Api\Data\ItemInterface"
                type="Isobar\DeliveryDate\Model\Item" />
    <preference for="Isobar\DeliveryDate\Api\Data\ItemSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="ExtensionAttributeOrder" type="Isobar\DeliveryDate\Model\Plugin\ExtensionAttributeOrder" sortOrder="10" />
    </type>

</config>